<div id="clearance" class="sign-in-container">
  <div class='clearance-box'>
  <h2 class="text-2xl font-semibold text-center mb-6"><%= t(".title") %></h2>

  <%= render partial: 'sessions/form' %>
  </div>
</div>
