@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


h1,h2,h3,h4,h5,th{
  font-family: "Roboto Condensed", sans-serif;
}
*{
  font-family: "Roboto", serif;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensures the body takes the full height of the viewport */
}

/* Style for rotating the h1 */
.vertical-title {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
  font-size: 2em;
  font-weight: bold;
  color: #333;
  z-index: 1;
}
#cal{
	background-image: asset_url('fitness_wallpaper.jpg');
	background-size: cover;
	background-position: center;
	background-attachment:fixed;
	background-repeat: no-repeat;
	height:auto;
	padding-bottom:15px;
}
.fc-direction-ltr .fc-timegrid-slot-label-frame {
    border-radius: 8px;
    background-color: #444; /* Darker background for contrast */
    text-align: left;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3), 0px 4px 6px rgba(0, 0, 0, 0.1); /* Stronger shadow */
    color: #f0f0f0; /* Slightly brighter text */
    padding: 3px; /* Increased padding */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Light border to enhance depth */
		transform: rotate(-4deg);
}
#calendar{
	background-color:#fff;
	padding:15px;
}

#guestbg{
	background-image: asset_url('gym_guest.jpeg');
	background-size: cover;
	background-position: center;
	height:35vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius:5px;
  transition: transform 0.5s ease; 
}
.navbar .nav-link.active {

  color: #888 !important;
  border-radius: 5px; /* Add rounded corners for better appearance */
  font-weight: bold; /* Make the active link text bold */
}

.navbar .nav-link{
	color:#FFF!important;
}

#classbg{
	background-image: asset_url('gym_class.jpeg');
	background-size: cover;
	background-position: center;
	height:35vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius:5px;
  transition: transform 0.5s ease; 
}

#trainerbg{
	background-image: asset_url('trainer.jpeg');
	background-size: cover;
	background-position: center;
	height:35vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius:5px;
  transition: transform 0.5s ease; 
}


#classbg:hover, #guestbg:hover, #trainerbg:hover {
/*	transform: scale(0.9);*/
	box-shadow: 1px 5px 2px #888;
}

#classbg h2, #guestbg h2, #trainerbg h2{
	background-color:white;
	padding:5px;
	border-radius: 5px;
}